In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
url="https://www.airlinequality.com/airline-reviews/british-airways/page/"
total_pages=353

In [3]:
data={
    "Review Header":[],
    "Review Text":[],
    "User":[],
    "Date Published":[],
    'Aircraft':[],
    "Type Of Traveller":[],
    "Seat Type":[],
    "Route":[],
    "Date Flown":[],
    "Seat Comfort":[],
    "Cabin Staff Service":[],
    "Food & Beverages":[],
    "Inflight Entertainment":[],
    "Ground Service":[],
    "Wifi & Connectivity":[],
    "Value For Money":[],
    "Recommended":[],
}

In [4]:
def get_missing_stats(present_stats):
    all_stats = ['Aircraft', 'Type Of Traveller', 'Seat Type', 'Route', 'Date Flown',
                 'Seat Comfort', 'Cabin Staff Service', 'Food & Beverages', 'Inflight Entertainment',
                 'Ground Service', 'Wifi & Connectivity', 'Value For Money', 'Recommended']
    missing_stats = []
    for stat in all_stats:
        if stat not in present_stats:
            missing_stats.append(stat)
    return missing_stats

In [5]:
for i in range(1,total_pages+1):
    url=url+str(i)
    response=requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    # Find all the review blocks on the page
    reviews= soup.find_all('div', class_='body')
    for review in reviews:
        #Extract review header
        data['Review Header'].append(review.find("h2", class_="text_header").text.strip())
        #Extract user name
        data["User"].append(review.find("span", itemprop="name").text.strip())
        #Extract date when the review was written
        data['Date Published'].append(review.find("time", itemprop="datePublished").text.strip())
    
        #Extract the review text and verification status
        data['Review Text'].append(review.find("div", itemprop="reviewBody").text.strip())
    
        #Check For other available stats
        #Note: Total stats which could be present are 13
        stats = review.find_all("tr")
        present_stats=[]
        for stat in stats:
            label = stat.find("td", class_="review-rating-header").text.strip()
            temp=stat.find("td",class_="review-rating-stars stars")
            if temp:
                value=len(temp.find_all("span",class_="star fill"))
            else:
                value = stat.find("td", class_="review-value").text.strip()
            #Extract the stats present in the review
            data[label].append(value)
            
            present_stats.append(label)
        for x in get_missing_stats(present_stats):
            #Substitute NaN in place of missing Stats
            data[x].append(np.NaN)

In [6]:
#convert to dataframe
df=pd.DataFrame(data)

In [7]:
df.head(30)

,Review Header,Review Text,User,Date Published,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Wifi & Connectivity,Value For Money,Recommended
0,"""trained to give you the runaround""",✅ Trip Verified | Worst experience of my life...,T Cayle,17th April 2023,NaN,Family Leisure,Economy Class,London to Denver,March 2023,2.0,5.0,2.0,3.0,4,1.0,1,no
1,"""they only had one choice of meal""",✅ Trip Verified | Due to code sharing with Ca...,Andrew Pybus,17th April 2023,NaN,Solo Leisure,Economy Class,Hong Kong to London,April 2023,2.0,1.0,1.0,1.0,2,1.0,2,no
2,"""relentless BA cost cutting""",✅ Trip Verified | LHR check in was quick at t...,M Edwards,16th April 2023,A320,Business,Business Class,Heathrow to Malaga,April 2023,3.0,3.0,4.0,NaN,3,1.0,2,no
3,"""I wouldn't recommend British Airways""",✅ Trip Verified | I wouldn't recommend Britis...,Luis Rojas,15th April 2023,NaN,Family Leisure,Economy Class,Santorini to Gatwick,March 2023,4.0,4.0,NaN,1.0,3,3.0,1,no
4,"""Absolutely horrible experience""",✅ Trip Verified | Absolutely horrible experie...,C Maire,15th April 2023,NaN,Solo Leisure,Economy Class,Madrid to Belfast via London,January 2023,3.0,3.0,2.0,NaN,1,NaN,1,no
5,"""This is the worst airline""",Not Verified | This is the worst airline. Not...,Megan Campbell,14th April 2023,NaN,Business,Economy Class,Dublin to London,April 2023,1.0,1.0,1.0,1.0,1,1.0,1,no
6,"""never fly British Airways again""",✅ Trip Verified | I will never fly British Ai...,L Horten,13th April 2023,NaN,Couple Leisure,Business Class,London to Venice,March 2023,1.0,2.0,2.0,1.0,2,NaN,2,no
7,"""seats were cramped and uncomfortable""",✅ Trip Verified | Worst aircraft I have ever ...,L Keane,12th April 2023,A350,Couple Leisure,Economy Class,Las Vegas to London,April 2023,1.0,1.0,1.0,4.0,4,1.0,1,no
8,"""I enjoyed my flight""",✅ Trip Verified | I enjoyed my flight. The bo...,Brett Hardy,11th April 2023,A320,Solo Leisure,Business Class,Faro to Heathrow,April 2023,5.0,5.0,5.0,NaN,3,NaN,5,yes
9,"""found the food menu rather odd""",✅ Trip Verified | Why do you make it so hard? ...,P Jones,10th April 2023,Boeing 777,Couple Leisure,Business Class,London to Atlanta,April 2023,4.0,3.0,2.0,3.0,2,3.0,3,no
10,"""lounge was overcrowded and worn out""",✅ Trip Verified | Flying LHR T5 to CPT Novemb...,J Meares,18th November 2022,Boeing 777,Solo Leisure,Business Class,London to Cape Town,November 2022,4.0,2.0,1.0,4.0,1,NaN,1,no
11,"""very uncomfortable trip""",Not Verified | Worst experience ever. Outbound...,Flavia Malusardi,7th November 2022,NaN,Solo Leisure,Economy Class,Milan to Dallas via London,November 2022,2.0,5.0,2.0,2.0,2,2.0,1,no
12,"""rate this just as a mediocre journey""",✅ Trip Verified | Check in was a shambles at ...,R Gonzaga,7th November 2022,Boeing 787-8,Solo Leisure,Economy Class,Baltimore to London Heathrow,November 2022,1.0,3.0,3.0,1.0,2,NaN,3,yes
13,"""baggage yet to be delivered after 5 weeks""",✅ Trip Verified | Beyond disgusted with the fa...,Iviano Ossuetta,5th November 2022,NaN,Couple Leisure,Business Class,Dubai to Belfast via London,October 2022,3.0,3.0,3.0,2.0,1,2.0,1,no
14,"""misplaced our luggage during our wedding trip""",✅ Trip Verified | On July 19th 2022 I had subm...,Georgeta Costache,31st October 2022,NaN,Couple Leisure,Economy Class,Dallas to Bologna via London,July 2022,5.0,5.0,NaN,NaN,1,NaN,1,no
15,"""zero faith in British Airways""",✅ Trip Verified | I booked the flight on Oct ...,R Zhang,31st October 2022,NaN,Solo Leisure,Economy Class,San Francisco to London,October 2022,NaN,NaN,NaN,NaN,1,NaN,1,no
16,"""under whelmed by the experience""",✅ Trip Verified | London to Gibraltar on 25th...,C Barton,31st October 2022,A320,Solo Leisure,Economy Class,London Heathrow to Gibraltar,October 2022,2.0,1.0,1.0,NaN,3,NaN,3,no
17,"""about as abysmal as you can get""",Not Verified | I’ve generally been a loyal Go...,Amanda Edgar,30th October 2022,Boeing 777,Solo Leisure,Business Class,London Heathrow to Nairobi,October 2022,3.0,1.0,1.0,2.0,1,1.0,1,no
18,"""has returned to full service""",✅ Trip Verified | A great flight. The suites ...,Peter Pomeranze,30th October 2022,A350-1000,Solo Leisure,Business Class,London to Los Angeles,October 2022,5.0,4.0,5.0,5.0,3,5.0,5,yes
19,"""this flight was quite good""",✅ Trip Verified | I am happy to say that this...,Peter Pomeranze,30th October 2022,A320,Solo Leisure,Business Class,Copenhagen to Heathrow,October 2022,3.0,5.0,5.0,NaN,4,5.0,5,yes
20,"""BA is way behind other carriers""",✅ Verified Review | Seoul Incheon to London H...,C Stratton,16th November 2017,Boeing 787,Solo Leisure,Business Class,Seoul Incheon to London Heathrow,December 2016,3.0,3.0,3.0,3.0,4,NaN,3,no
21,"""It was the most uncomfortable flight""",✅ Verified Review | Flew Cape Town to London ...,Saunders Mark,16th November 2017,Boeing 747,Business,Economy Class,Cape Town to London,November 2017,1.0,1.0,1.0,1.0,3,NaN,3,no
22,"""Cost cutting was in evidence""",✅ Verified Review | London to Bahrain club wo...,Richard Clarke,15th November 2017,NaN,Solo Leisure,Business Class,London Heathrow to Bahrain,November 2017,2.0,3.0,3.0,1.0,1,NaN,3,no
23,"""crew amazingly helpful""",✅ Verified Review | London to Philadelphia. T...,Edward Warren,14th November 2017,Boeing 747,Family Leisure,Business Class,London to Philadelphia,October 2017,4.0,5.0,2.0,4.0,4,NaN,4,yes
24,"""extra cost not justified""",✅ Verified Review | British Airways short hau...,R Wathardar,13th November 2017,Boeing 767,Business,Business Class,London to Edinburgh,November 2017,1.0,3.0,3.0,NaN,3,NaN,1,no
25,"""requested Asian vegetarian food""",✅ Verified Review | I requested Asian vegetar...,Komalpreet Gill,13th November 2017,NaN,Family Leisure,Economy Class,Oakland to Gatwick,October 2017,1.0,1.0,1.0,NaN,1,NaN,1,no
26,"""continually disappointed by British Airways""",✅ Verified Review | Am continually disappoint...,Derek Northcutt,13th November 2017,A321,Business,Economy Class,Düsseldorf to London,August 2017,3.0,4.0,2.0,3.0,2,NaN,1,no
27,"""need to clean the planes more often""",✅ Verified Review | London to Santiago. Cabin...,G Searle,11th November 2017,Boeing 787-9,Couple Leisure,Business Class,London to Santiago,November 2017,3.0,4.0,3.0,3.0,4,NaN,3,yes
28,"""Complete rip-off sums it up""",✅ Verified Review | London to New York JFK in...,Mike Randall,11th November 2017,Boeing 747-400,Business,Business Class,London to New York JFK,November 2017,2.0,3.0,2.0,3.0,3,1.0,1,no
29,"""exactly the same width and pitch""",✅ Verified Review | My wife and I booked two ...,Yuriy Karpov,10th November 2017,NaN,Couple Leisure,Business Class,Johannesburg to Victoria Falls,October 2017,1.0,3.0,3.0,1.0,1,NaN,1,no

In [8]:
df.tail()

,Review Header,Review Text,User,Date Published,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Wifi & Connectivity,Value For Money,Recommended
3415,"""This is the worst airline""",Not Verified | This is the worst airline. Not...,Megan Campbell,14th April 2023,NaN,Business,Economy Class,Dublin to London,April 2023,1.0,1.0,1.0,1.0,1,1.0,1,no
3416,"""never fly British Airways again""",✅ Trip Verified | I will never fly British Ai...,L Horten,13th April 2023,NaN,Couple Leisure,Business Class,London to Venice,March 2023,1.0,2.0,2.0,1.0,2,NaN,2,no
3417,"""seats were cramped and uncomfortable""",✅ Trip Verified | Worst aircraft I have ever ...,L Keane,12th April 2023,A350,Couple Leisure,Economy Class,Las Vegas to London,April 2023,1.0,1.0,1.0,4.0,4,1.0,1,no
3418,"""I enjoyed my flight""",✅ Trip Verified | I enjoyed my flight. The bo...,Brett Hardy,11th April 2023,A320,Solo Leisure,Business Class,Faro to Heathrow,April 2023,5.0,5.0,5.0,NaN,3,NaN,5,yes
3419,"""found the food menu rather odd""",✅ Trip Verified | Why do you make it so hard? ...,P Jones,10th April 2023,Boeing 777,Couple Leisure,Business Class,London to Atlanta,April 2023,4.0,3.0,2.0,3.0,2,3.0,3,no

In [9]:
df.to_csv("data/British-Airways-Reviews.csv")